@font-face {
  font-display: swap;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts-3by.pages.dev/red-hat-text-v18-latin/red-hat-text-v18-latin-regular.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 600;
  src: url("https://fonts-3by.pages.dev/red-hat-text-v18-latin/red-hat-text-v18-latin-600.woff2")
    format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts-3by.pages.dev/red-hat-text-v18-latin/red-hat-text-v18-latin-700.woff2")
    format("woff2");
}

:root {
  /* ## Colors */

  --Red: hsl(14, 86%, 42%);
  --Green: hsl(159, 69%, 38%);

  --Rose-50: hsl(20, 50%, 98%);
  --Rose-100: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --Rose-400: hsl(7, 20%, 60%);
  --Rose-500: hsl(12, 20%, 44%);
  --Rose-900: hsl(14, 65%, 9%);

  /*Fonts variable*/
  --font-size-100: 0.75rem; /*12px*/
  --font-size-200: 1rem; /*16px*/
  --font-size-300: 1.5rem; /*24px*/
  --font-size-400: 2.5rem; /*40px*/
  --font-size-500: 3rem; /*48px*/
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Red Hat Text";
  display: flex;
  position: relative;
}
dialog {
  all: revert;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

.selected-item {
  border: 0.1875rem solid var(--Red);
  border-radius: 0.625rem;
}
.hidden{
  display: none;
}
.visibilty-flex{
  display: flex;
}

.visibilty-block{
  display: block;
}

.wrapper {
  display: grid;
  gap: 3.125rem;
  margin: 1.25rem 0;
  width: 100%;
}

.container {
  display: grid;
  gap: 1.875rem;
  justify-self: center;
  min-width: 18.75rem;
  max-width: 25rem;
}

.top-heading {
  margin: 0 1.25rem;
  font-size: var(--font-size-400);
  color: var(--Rose-900);
}

main {
  display: grid;
  gap: 1.25rem;
  margin: 0 1.25rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.item {
  display: grid;
  cursor: pointer;
}
.item .thumbnail-cta picture {
  max-width: 25rem;
  min-width: 17.5rem;
}
.item .thumbnail-cta picture img {
  border-radius: 0.625rem;
}

.item .cta {
  width: 9.375rem;
  height: 1.875rem;
  border-radius: 1.5625rem;
  justify-self: center;
  transform: translateY(-50%);
}

.item .cta .add-to-cart {
  background-color: var(--Rose-50);
  border: 0.125rem solid var(--Rose-300);
  border-radius: 1.5625rem;
  transform: translateY(-20%);
  transition: all 0.3s ease-in-out;
}

.item .cta .add-to-cart p {
  text-align: center;
  font-size: var(--font-size-100);
  font-weight: 600;
  padding: 0.625rem 0;
  color: var(--Rose-900);
  transition: all 0.2s ease-in-out;
}
.item .cta .add-to-cart:hover,
.item .cta .add-to-cart p:hover {
  color: var(--Red);
  border-color: var(--Red);
}

.item .cta .add-to-cart p::before {
  content: "";
  display: inline-block;
  background-image: url(../assets/images/icon-add-to-cart.svg);
  width: 1.125rem;
  height: 1.125rem;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-bottom: -0.25rem;
  margin-right: 0.3125rem;
}

.item .cta .add-more {
  justify-content: space-between;
  align-items: center;
  background-color: var(--Red);
  border-radius: 1.5625rem;
  height: 1.875rem;
  padding-inline: 0.4375rem;
}
.item .cta .add-more button {
  width: 1.25rem;
  height: 1.25rem;
  padding-bottom: 0.625rem;
  border-radius: 1.5625rem;
  border: 0.125rem solid white;
  background-color: var(--Red);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.item .cta .add-more button > p {
  justify-self: center;
  color: var(--Rose-100);
  padding-inline: 10px;
}
.item .cta .add-more button:hover {
  background-color: var(--Rose-100);
}
.item .cta .add-more button > p:hover {
  color: var(--Red);
}

button[data-action="decrement"] p {
  margin-top: -5px;
}
button[data-action="increment"] p {
  margin-top: -4.1px;
}
.item .cta .add-more .item-quantity {
  font-size: 14px;
  font-weight: 600;
  color: var(--Rose-100);
}

.item .item-details .category {
  font-size: 14px;
  color: var(--Rose-400);
}
.item .item-details .item-title {
  font-size: var(--font-size-200);
  font-weight: 600;
  color: var(--Rose-900);
}
.item .item-details .item-price {
  font-size: var(--font-size-200);
  font-weight: 700;
  color: var(--Red);
}

/* cart section*/
.cart-aside {
  min-width: 300px;
  max-width: 500px;
  display: grid;
  grid-template-rows: 30px auto;
  gap: 20px;
  justify-self: center;
  margin-inline: 30px;
}
.cart-aside > h2 {
  color: var(--Red);
}
.cart-aside .cart-placeholder .illustration {
  display: block;  /* none or block*/
}
.cart-aside .cart-placeholder .illustration img {
  min-width: 12.5rem; /* 200px to 12.5rem */
  justify-self: center;
}
.cart-aside .cart-placeholder .illustration .description {
  font-size: var(--font-size-100);
  width: 90%;
  color: var(--Rose-500);
  justify-self: center;
  text-align: center;
}
.cart-aside .cart-item-section {
  display: none;   /* none or grid */
  gap: 1.25rem; /* 20px to 1.25rem */
}
/* cart list*/

.cart-aside .cart-item-section ul li {
  list-style: none;
  display: grid;
  margin-left: -2.5rem; /* -40px to -2.5rem */
  list-style-position: outside;
  grid-template-rows: 1.5625rem 1.5625rem; /* 25px to 1.5625rem */
  grid-template-columns: 1fr 1.875rem; /* 30px to 1.875rem */
  border-bottom: 1px solid rgba(128, 128, 128, 0.583);
}

.total-price {
  display: flex;
  justify-content: space-between;
  color: var(--Rose-900);
}
.total-price .title-text {
  font-size: var(--font-size-200);
  padding-top: 0.3125rem; /* 5px to 0.3125rem */
}
 .total-price .total-amount {
  font-size: var(--font-size-300);
  font-weight: 700;
}

.cart-aside .cart-item-section ul li .item-name {
  font-size: 1.25rem; /* 20px to 1.25rem */
  font-weight: 600;
  color: var(--Rose-900);
}
.cart-aside .cart-item-section ul li .item-quantity-price {
  width: 70%;
  display: grid;
  grid-template-columns: 1.875rem repeat(2, 3.75rem); /* 30px to 1.875rem, 60px to 3.75rem */
  gap: 5px;
  align-self: center;
}
.item-quantity,
.item-price,
.item-total-price {
  font-size: var(--font-size-100);
}
.item-quantity {
  color: var(--Red);
  font-weight: 600;
}
.item-price {
  color: var(--Rose-400);
}

.item-total-price {
  color: var(--Rose-500);
}
.cart-aside .cart-item-section ul li .delete-item-cta {
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  height: 1.5625rem; /* 25px to 1.5625rem */
  width: 1.5625rem; /* 25px to 1.5625rem */
  align-self: center;
  border-radius: 50%;
  border: 2px solid var(--Rose-300);
  cursor: pointer;
}
.cart-aside .cart-item-section ul li .delete-item-cta > p {
  font-size: 0.875rem; /* 14px to 0.875rem */
  margin-top: -0.1875rem; /* -3px to -0.1875rem */
  color: var(--Rose-300);
}

.cart-aside .cart-item-section .msg {
  font-size: 0.875rem; /* 14px to 0.875rem */
  color: var(--Rose-900);
  padding-block: 0.625rem; /* 10px to 0.625rem */
  margin-inline: 0.625rem; /* 10px to 0.625rem */
  text-align: center;
  background-color: var(--Rose-100);
}
.cart-aside .cart-item-section .msg::before {
  content: "";
  display: inline-block;
  background-image: url(../assets/images/icon-carbon-neutral.svg);
  width: 1.25rem; /* 20px to 1.25rem */
  height: 1.25rem; /* 20px to 1.25rem */
  margin: 0 0.125rem -0.25rem 0; /* 0 2px -4px 0 to 0 0.125rem -0.25rem 0 */
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.cart-aside .cart-item-section .cta-order-confirm {
  background-color: var(--Red);
  border-radius: 25px;
  height: 2.5rem; /* 40px to 2.5rem */
  border: none;
  color: cornsilk;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.cart-aside .cart-item-section .cta-order-confirm:hover {
  letter-spacing: 2px;
  background-color: hsl(14, 90%, 31%);
}

/*##### Modal ######*/

dialog {
  position: fixed;
  top: 16%;
  left: 0;
  width: 100%;
  max-height: 90%;
  margin: 0;
  border-radius: 10px 10px 0 0;
  border-color:white ;
  justify-self: center;
  align-self: end;
}
dialog::backdrop{
  background-color: rgba(0, 0, 0, 0.7);
}

dialog .modal-wrapper {
  display: grid;
  margin: 1.25rem 0; /* 20px to 1.25rem */
  grid-template-rows: auto auto 15.625rem auto 2.8125rem; /* 250px to 15.625rem, 45px to 2.8125rem */
  gap: 1.25rem; /* 20px to 1.25rem */
  justify-self: center;
}

.modal-wrapper .heading-description .heading {
  font-size: var(--font-size-500);
  line-height: 1;
  font-weight: 700;
  color: var(--Rose-900);
}

.modal-wrapper .heading-description .description {
  font-size: var(--font-size-200);
  margin: 0.3125rem 0 0 0.3125rem; /* 5px to 0.3125rem */
  color: var(--Rose-500);
}
.modal-wrapper .ordered-items {
  overflow-y: scroll;
  margin-block: 0.625rem; /* 10px to 0.625rem */
}
.modal-wrapper .ordered-items ul li {
  list-style-position: outside;
  margin-left: -0.625rem; /* -10px to -0.625rem */
  margin-right: 1.875rem; /* 30px to 1.875rem */
  margin-bottom: 0.3125rem; /* 5px to 0.3125rem */
  list-style: none;
  display: grid;
  grid-template-columns: 3.125rem 1fr 3.125rem; /* 50px to 3.125rem */
  grid-template-rows: 1.5625rem 1.5625rem; /* 25px to 1.5625rem */
}
.ordered-item img {
  border-radius: 10px;
  width: 3.125rem; /* 50px to 3.125rem */
}
.ordered-item .item-name {
  font-weight: 600;
  color: var(--Rose-900);
  margin-left: 0.625rem; /* 10px to 0.625rem */
}
.ordered-item .item-quantity-price {
  grid-column: 2 / -2;
  grid-row: 2 / 3;
  display: flex;
  gap: 0.625rem; /* 10px to 0.625rem */
  margin-left: 0.625rem; /* 10px to 0.625rem */
  align-self: end;
  font-weight: 500;
}
.ordered-item .item-total-price {
  grid-column: 3 / -1;
  grid-row: 1 / -1;
  font-weight: 700;
  color: var(--Rose-500);
  align-content: center;
  justify-self: right;
}

.modal-wrapper .cta-close-modal {
  background-color: var(--Red);
  border:none;
  border-radius: 25px;
  color: var(--Rose-100);
  transition: all .3s ease-in-out;
}
.modal-wrapper .cta-close-modal:hover{
  background-color: hsl(14, 90%, 31%);
}

@media (min-width: 34.375rem) { /* 550px to 34.375rem */
  .wrapper {
    display: grid;
    gap: 3.125rem; /* 50px to 3.125rem */
    margin: 2.5rem; /* 40px to 2.5rem */
    width: 100%;
  }
  .container {
    display: grid;
    gap: 1.875rem; /* 30px to 1.875rem */
    justify-self: space-evenly;
    min-width: none;
    max-width: 100%;
  }
  .top-heading {
    margin: 0;
  }
  main {
    gap: 2.5rem; /* 40px to 2.5rem */
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .item {
    max-width: 15.625rem; /* 250px to 15.625rem */
  }
  .item .cta {
    width: 6.875rem; /* 110px to 6.875rem */
  }
  .item .thumbnail-cta picture {
    max-width: 15.625rem; /* 250px to 15.625rem */
    min-width: 12.5rem; /* 200px to 12.5rem */
  }
  .item .cta .add-to-cart {
    transform: none;
  }
  .item .cta .add-to-cart p {
    font-size: 0.625rem; /* 10px to 0.625rem */
    padding-block: 0.3125rem; /* 5px to 0.3125rem */
  }
  .item .cta .add-to-cart p::before {
    width: 0.75rem; /* 12px to 0.75rem */
    height: 0.75rem; /* 12px to 0.75rem */
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: -0.1875rem; /* -3px to -0.1875rem */
    margin-right: 0.3125rem; /* 5px to 0.3125rem */
  }
  dialog {
    all: revert;
    border-radius: 10px;
    border: none;
      padding: 0.625rem 1.875rem; /* 10px 30px to 0.625rem 1.875rem */
  }
  .modal-wrapper .ordered-items {
    scrollbar-width:thin;
  }
}

@media (min-width: 46.25rem) { /* 740px to 46.25rem */
  main {
    gap: 2.5rem; /* 40px to 2.5rem */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }
}

@media (min-width: 78.75rem) { /* 1260px to 78.75rem */
  .wrapper {
    gap: 5rem; /* 80px to 5rem */
    margin: 3.125rem 6.25rem; /* 50px 100px to 3.125rem 6.25rem */
    grid-template-columns: auto minmax(15.625rem, 18.75rem); /* 250px 300px to 15.625rem 18.75rem */
  }
  .container {
    justify-self: center;
  }
  main {
    grid-column: 1 / 2;
    grid-template-columns: repeat(3, 1fr);
  }
  .cart-aside {
    margin: 1.875rem 0 0 0; /* 30px to 1.875rem */
  }
}

@media (min-width: 87.5rem) { /* 1400px to 87.5rem */
  .wrapper {
    gap: 5rem; /* 80px to 5rem */
    margin: 3.125rem 6.25rem; /* 50px 100px to 3.125rem 6.25rem */
    grid-template-columns: auto minmax(15.625rem, 18.75rem); /* 250px 300px to 15.625rem 18.75rem */
  }
  main {
    grid-column: 1 / 2;
    grid-template-columns: repeat(4, minmax(12.5rem, 1fr)); /* 200px to 12.5rem */
  }
}
@media (min-width: 143.75rem) { /* 2300px to 143.75rem */
  .wrapper {
    gap: 5rem; /* 80px to 5rem */
    margin: 3.125rem 9.375rem; /* 50px 150px to 3.125rem 9.375rem */
    grid-template-columns: auto minmax(18.75rem, 31.25rem); /* 300px 500px to 18.75rem 31.25rem */
  }
  main {
    grid-column: 1 / 2;
    grid-template-columns: repeat(6, minmax(12.5rem, 1fr)); /* 200px to 12.5rem */
  }
}